<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Express</title>
        <link rel="shortcut icon" href="https://express-mari-1000-10000.c9users.io/favicon.ico?v=2">
        <meta name="description" content="緯度経度から最寄駅を表示させるサイトです。">
        <meta property="og:image" content="https://express-mari-1000-10000.c9users.io/logo.png">
        <meta property="og:title" content="Express">
        <meta property="og:description" content="緯度経度から最寄駅を表示させるサイトです">
        <meta name="twitter:card" content="summary">

    </head>
    <body>
        <form action="list" method="get">
            <input type="text" name="x" id="x" placeholder="x">
            <input type="text" name="y" id="y" placeholder="Y">
            <input type="submit" value="検索">
        </form>
        <h2>検索履歴</h2>
        <table>
            <% @histories.each do |history| %>
            <tr>
                <td><%= history.x %>,<%=history.y %></td>
                <td>
                    <% if history.favorite %>
                    <form action ="<%=history.id%>/update" method="post">
                        <input type ="submit" value="解除">
                    </form>
                    <% else %>
                    <form action ="<%=history.id%>/update" method="post">
                        <input type ="text" placeholder="コメント" name="comment">
                        <input type ="submit" value="お気に入り">
                    </form>
                    <% end %>
                </td>
                <td>
                    <form action ="<%= history.id %>/delete" method ="post">
                        <input type ="submit" value="[x]">
                    </form>
                </td>
            </tr>
            <% end %>
        </table>
        <h2>お気に入り</h2>
        <ul>
            <% if @favorites.empty? %>
            <li>お気に入りが空です</li>
            <% else %>
             <% @favorites.each do |favorite| %>
             <li><%= favorite.x %>,<%= favorite.y %>,<%= favorite.comment%></li>
             <% end %>
            <% end %>
        </ul>
    </body>
</html>